.analyze-bottom-grid{
    display: flex;
    justify-content: space-around;
    margin: 30px 10%
}

.analyze-bottom-grid-graphs{
    display: grid;
    grid-template-columns: 1fr;

    
}
.analyze-desc{
    flex-direction: column;
}
.analyze-desc p {
    font-size: 1.15rem;
    padding: 20px;
}

.analyze-desc table {
    border-collapse: collapse;
}
.analyze-desc table th,
.analyze-desc table td
{
    border: 1px solid black;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.search{
    grid-column: 2;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.playlist-heading {
    text-align: center;
}
.playlist-analyzed-row{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 20px;
    grid-gap: 20px;
    border-bottom: 2px solid #ccc;
}

.playlist-analyzed-row > * {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-fa-icon{
    font-size: 15rem;
    color: var(--main-green);
}

.search input {
    width: 90%;
    border: 0px;
    height: 100%;

}
.search i {
    width: 5%;
}
.my-playlist-row{
    grid-column: 2;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 20px rgb(231, 231, 231);
    transition: box-shadow 200ms;
    padding: 5px;
}

.my-playlist-row:hover{
    box-shadow: 1px 1px 20px grey;
    transition: box-shadow 200ms;
    cursor: pointer;
}

.spacer{
    grid-column: 2;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.column{
    display: grid;
    grid-template-columns: 0.1fr min(500px, 100vw) 0.1fr;
    grid-auto-rows: 50px 50px;
    grid-gap: 10px;
    height: 500px;
    overflow: auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 5px;
}

.not-visible{
    visibility: hidden;
}

/* width */
.column::-webkit-scrollbar {
    width: 15px;
    margin: 2px
}
  
/* Track */
.column::-webkit-scrollbar-track {
    background: white;
    border-radius: 15px;
}

/* Handle */
.column::-webkit-scrollbar-thumb {
    background: #888; 
    border: 4px solid white;
    border-radius: 10px;
}

/* Handle on hover */
.column::-webkit-scrollbar-thumb:hover {
    background: #555; 
}