.play-list-grid{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-template-columns: repeat(4, 1fr [col-start]);
    grid-gap: 20px;
    grid-auto-rows: 200px 200px;
    margin: 30px 20%
}
.play-list-grid > div:not(.loader) {
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 1px 1px 20px #ccc;
    border-radius: 20px;
    transition:transform 200ms ease-in-out, box-shadow 200ms ease-in-out, height 200ms ease-in-out, width 200ms ease-in-out;
}

.play-list-grid > div:hover{
    width: 110%;
    height: 110%;
    transform: translateX(-5%) translateY(-5%);
    cursor: pointer;
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out, height 200ms ease-in-out, width 200ms ease-in-out; 
    box-shadow: 1px 1px 20px rgb(151, 151, 151);

} 


.track-grid{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-template-columns: 15% repeat(1, 1fr [col-start]) 15%;
    grid-auto-rows: 50px;
    margin: 10px
}

.track-grid > button{
    margin: 10px;
    border: none;
    border-radius: 15px;
    color: var(--main-green);
    background: var(--main-black);
    transition: box-shadow 200ms ease-in-out;
}

.track-grid > button:hover{
    margin: 10px;
    border: none;
    border-radius: 15px;
    color: var(--main-green);
    background: var(--main-black);
    box-shadow: 1px 2px 20px grey;
    transition: box-shadow 200ms ease-in-out;
    cursor: pointer;
}

.track-grid > button:active,
.track-grid > button:focus{
    box-shadow: 1px 2px 20px grey inset;
    outline: none;
}

.track-grid > .track-grid-item{
    grid-column: 2;
}

.track-grid > .track-grid-item:hover .song-row{
    background-color: rgb(231, 231, 231);
}

.song-row{
    display: grid;
    grid-template-columns: 10% 10% 32.5% 25% 2fr 2fr;

    border-radius: 20px;
    border: 1px solid #ccc;
}

.song-row-top{
    border-radius: none;
    border: none;
    font-weight: bold;
    text-decoration: all;
   
}

.song-row > div{
    padding: 5px;
    margin: 5px;
}
.song-title,
.song-artists{
    white-space: nowrap;
    overflow: hidden;
}

.song-checkbox{

}

.song-checkbox-parent{

}



