.flexy-profile{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
.flexy-profile > div{
    padding: 5px;
    margin: 5px
}

.profile-top > img{
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ccc;
    width: 70px;
}

.profile-top{
    width: 100px;
    font-size: 0.8rem;
}