.flexy-profile{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
.flexy-profile > div{
    padding: 5px;
    margin: 5px
}

.profile-top > img{
    padding: 10px;
    margin: 20px
}

.profile-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}