.play-button{
    font-family: FontAwesome !important;
    border:unset;
    background-color: transparent;
}

.pause-button{
    font-family: FontAwesome !important;
    border: unset;
    background-color: transparent;

}

.pause-button:hover,
.play-button:hover{
    font-size: 1rem;
    cursor: pointer;
}

.pause-button:after{
    content:"\f04c";
}

.play-button:after{
    content: "\f04b";
}

.audio-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px !important;
}

.heart-song{
    color: var(--main-green);
    transition: text-shadow 200ms, color 200ms;
}

.heart-song:hover{
    color: green;
    cursor: pointer;
    text-shadow: 1px 2px 10px black;
    transition: text-shadow 200ms, color 200ms, font-size 200ms;
}

.selected {
    background: #ccc;
    transition: background 200ms;
}

.selected:hover{
    background: rgb(153, 153, 153) !important;
    cursor: pointer;
    transition: background 200ms;
}

.selected:hover .heart-song:hover{
    color: var(--main-hover);
}

.song-checkbox{
    height: 15px;
    width: 15px;
}

.song-checkbox-parent{
    display: flex;
    align-items: center;
    padding: 0px 25px !important
}