.analyze-top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 200px
}

.analyze-link{
    height: 150px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 1px 2px 20px darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 20px;
    transition: height 200ms, width 200ms, transform 200ms ease-in-out;;
}

.analyze-link:hover{
    height: 160px;
    width: 210px;
    transition:box-shadow 200ms, height 200ms, width 200ms, transform 200ms ease-in-out; 
    cursor: pointer;
    box-shadow: 1px 2px 20px rgb(87, 87, 87);
}

.analyze-link.back{
    height: 50px;
    width: 200px;
}

.analyze-top.back{
    margin-top: 50px;
    height: 100px
}