:root{
    --main-green: #1DB954;
    --main-hover: #64e691;
    --main-black: #191414;
    --main-white: white;

}

body{
    font-size: 16px;

}
main{
    height: calc(100vh - 30px);

}
.top-navybar{
    width: calc(100% - 60px);
    padding: 30px;
    max-height: 30px;
    background: var(--main-black);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.top-navybar a{
    text-decoration: none;
    color: var(--main-green);
    transition: font-size 200ms;
    margin: 0px 10px;
}

.top-navybar a:hover{
    text-decoration: none;
    color: var(--main-hover);
    /* font-size: 1.55rem; */
    transition: font-size 200ms;
    cursor: pointer;
}

.spotify-button{
    color: var(--main-white);
    background: var(--main-green);
    border: none;
    padding: 15px 20px;
    align-self: center;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 1px 2px 10px black;
    text-shadow: 1px 1px 2px black;
    transition: box-shadow 200ms ease-in-out, background 200ms;
}
.spotify-button:hover{
    color: white;
    background: rgb(51, 49, 49);
    box-shadow: 1px 1px 20px black;
    transition: box-shadow 200ms ease-in-out, background 200ms;
    cursor: pointer
}

.home-not-loggedin{
    width: 100vw;
    height:100vh;
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    background-image: url('/images/home-page-bkg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-page-naviagtion{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(180deg, white, transparent);
}

.home-page-naviagtion > * {
    align-self: center;
}
.nav-left{
    display: flex;
}

.right-nav{
    display: flex;
    justify-content: end;
}


.main-image{

    /* object-fit: fill;
    height: 100%; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.black-box{
    background: var(--main-black);
    color: white;
    grid-column: 1;
    margin-left: 100px;
    width: min(400px, 100%);
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(24, 20, 20, 0.663);
    border-radius: 50px 150px 20px 50px;
}

.user-profile-pic{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--main-green);
}

.user-profile-pic img{
    width: 50px;
    margin: 20px;
}

.home-screen-main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-screen-main{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px 300px;
    grid-gap: 60px;
    margin: 50px;  
}

.home-screen-main a{
    text-decoration: none;
}

.home-screen-content{
    padding: 10px;
    background: var(--main-black);
    border-radius: 20px;
    box-shadow: 1px 1px 10px grey;
    color: white;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    transition: background 200ms, box-shadow 200ms, width 200ms, height 200ms, color 400ms, text-shadow 200ms;
}

.home-screen-content:hover{
    background: var(--main-green);
    box-shadow: 1px 1px 20px grey;
    width: 101%;
    height: 101%;
    color: var(--main-white);
    text-shadow: 1px 2px 2px black;
    transition: background 200ms, box-shadow 200ms, width 200ms, height 200ms, color 400ms, text-shadow 200ms;
    cursor: pointer;
}

.home-screen-content h3{
    font-weight: 400;
    padding: 0px 20px
}

.home-screen-content .line{
    height: 1px;
    background-color: #6f6f6f;
    margin: 10px 20px;
}

.home-screen-content > p{
    margin: 20px;
    line-height: 1.4rem;
}



.hidden {
    display: none !important;
}